html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    height: calc(100vh - [HeaderHeight]px);
    display: flex;
    overflow: auto;
}

#header {
    display: flex;
    justify-content: center; /* Centers the child horizontally */
    align-items: center; /* Centers the child vertically, if needed */
    width: 100%; /* Full width of its parent */
    z-index: 1;
}

#header img {
    width: 30%; /* Makes the image width 50% of the #header container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes bottom margin/whitespace */
    margin: 0 auto; /* Center the image horizontally */
}

#auth-status button, #search-container input, #search-container button, .tab button, #modelSelectionDropdown, #new-sidebar-container, #auth-status span select {
    font-size: calc(12px + (6 * (100vw - 1001px) / (2144 - 1001)));
}

#auth-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    margin-bottom: 10px;
}

#btn-login, #btn-logout, #userInput, #askButton {
    margin: 0 5px;
}

#user-info {
    margin-bottom: 10px;
}

#user-info-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

div[style*="width: 70%;"] {
    flex-grow: 1; 
    max-width: 70%; 
  
}

#canvas-container, #new-sidebar-container, .sidebar {
    overflow-x: hidden; 
    overflow-y: auto;
}


.sidebar {
    position: fixed;
    top: 0;
    width: 85%; 
    max-width: 300px; 
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 1s;
    z-index: 2;
    right: -100%; 
}

#new-sidebar-container {
    width: 30%;
    max-height: calc(100vh - [HeaderHeight]px);
    padding: 10px;
    box-sizing: border-box;
}

#library {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
}

.cube-container {
    align-items: center;
    margin: 10px 0;
}

.sidebar-cube-image, .cube-name {
    margin: 5px 0;
}

.cube-name {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

#cubeContent {
    max-width: 100%;
    max-height: 300px; 
}


.chart-container {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.chart-container canvas {
    flex: 1; /* Allow the canvas to expand to fill the container */
    /* Remove any explicit height if it was previously set */
}

.chart-container h3 {
    /* The header takes up the space it needs */
    flex: 0;
}

#groupsContent {
    padding: 10px;
    margin-bottom: 10px;
}

#groupsContent label,
#groupsContent input[type="range"],
#groupsContent canvas,
#groupsContent div {
    display: block; 
    margin-bottom: 10px; 
}

#groupsContent label {
    font-weight: bold; 
    margin-top: 10px;
}

#groupsContent input[type="range"] {
    width: 100%; 
    cursor: pointer; 
}

#groupsContent canvas,
#groupsContent div {
    max-width: 100%;
    height: auto;
}

span#thresholdValue {
    display: inline-block;
    margin-left: 5px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index: 1; 
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px;
  }
  
  .compare-results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

.model-card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.model-result-container h3 {
    margin-bottom: 15px; 
}

.model-result-container p {
    font-size: 1em; 
    margin-bottom: 10px; 
}

.model-result-container, .attribute-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#logsContent {
    padding: 10px; 
    overflow-y: auto; 
    max-height: 80vh; 
    margin-bottom: 5px;
}

.query-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    box-sizing: border-box;
}

#site-logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#combined-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%; 
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}


#askButton {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#askButton:hover {
    background-color: #a1d6cf; 
}

#modelSelectionDropdown {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

