body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
  .sidebar {
    position: fixed;
    width: 250px;
    max-height: 100vh;
    overflow: auto;
    right: 0;
    top: 0;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    padding: 20px;
}

.sidebar-content {
    padding: 20px;
}

#canvas-container {
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

/* This is to ensure the remaining lower part of the page is compact */
#userInput,
#askButton,
#llmListResponse,
#llmTopicAttributes,
#imageSet,
#llmRatings,
#llm3dVector {
    margin: 0;
    padding: 10px;
}
