/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body to use full viewport height and enable scroll */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Style the header */
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 2em; /* Large text size for the header */
    text-align: center;
}

#main-content {
    display: flex;
    flex-direction: row; /* Align children (tabs and sidebar) in a row */
    align-items: stretch; /* Make sure children stretch to fill the container height */
}

/* Style the main content area where canvas will be */
#canvas-container {
    position: relative;
    overflow: hidden;
}

/* Make input fields and buttons large and easily clickable */
#userInput, .button {
    width: calc(100% - 20px); /* Subtract padding */
    margin: 10px;
    padding: 15px;
    font-size: 1.5em; /* Larger text size */
}

/* Ensure the dynamic content sections fill the container */
#dynamic-content > div {
    width: 100%;
    display: none; /* Hide them by default, they will be shown dynamically */
}

#tab-content {
    flex-grow: 2; /* Allow tab content to fill the available space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
}

/* Style the sidebar for mobile devices */
.sidebar {
    position: fixed;
    top: 0;
    right: -85%; /* Start offscreen to the right */
    width: 85%; /* Take up most of the screen on mobile */
    max-width: 300px; /* But don't get too wide on larger screens */
    height: 100%; /* Full height */
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* Shadow to the left */
    transition: right 0.3s; /* Animate the transition */
    z-index: 2; /* Above content */
    overflow-y: auto; /* Scroll long content */
}

.cube-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-cube-image {
    width: 100px; /* or any other size */
    height: auto;
    margin: 5px;
    border: 1px solid #ddd; /* optional */
    border-radius: 4px; /* optional */
}

.cube-name {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

/* When sidebar is open, it should take up 85% of the screen */
.sidebar.open {
    right: 0; /* Align to the right edge of the viewport */
}

/* Style the sidebar content */
.sidebar-header, .sidebar-content {
    padding: 20px;
}

#groupsContent {
    padding: 10px; /* Adds padding inside the container */
    margin-bottom: 10px; /* Space below the container */
}

#groupsContent label,
#groupsContent input[type="range"],
#groupsContent canvas,
#groupsContent div {
    display: block; /* Makes each element take a full row */
    margin-bottom: 10px; /* Adds space below each element */
}

#groupsContent label {
    font-weight: bold; /* Makes label text bold */
    margin-top: 10px; /* Additional space above each label */
}

#groupsContent input[type="range"] {
    width: 100%; /* Makes the slider take full width of the container */
    cursor: pointer; /* Changes cursor type on hover */
}

#groupsContent canvas,
#groupsContent div {
    max-width: 100%; /* Ensures they don't overflow the container */
    height: auto; /* Keeps the aspect ratio of images */
}

span#thresholdValue {
    display: inline-block; /* Keeps it on the same line as the label */
    margin-left: 5px; /* Space between the label and value */
}
  
/* Style adjustments for larger screens */
@media (min-width: 768px) {
    .sidebar {
        width: 250px; /* Standard sidebar width */
        right: -250px; /* Start offscreen to the right */
    }

    .sidebar.open {
        right: 0; /* Align to the right edge of the viewport */
    }

    /* Adjust font sizes and paddings for larger screens */
    .header {
        font-size: 1.5em;
    }

    #userInput, .button {
        font-size: 1em;
        padding: 10px;
    }

    /* Additional styling as needed for larger screens */
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index: 1; 
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Style the compare container to display as a grid */
  .compare-results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* create as many columns as will fit */
    grid-auto-rows: minmax(100px, auto); /* minimum row height */
    gap: 10px; /* space between cards */
    padding: 10px; /* padding around the grid */
    overflow-x: auto; /* allows for horizontal scrolling if needed */
}


/* Style each model's card */
.model-card {
    border: 1px solid #ddd; /* add a border */
    border-radius: 8px; /* rounded corners */
    padding: 20px; /* padding inside the card */
    background-color: #fff; /* white background */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow */
    display: flex; /* use flexbox for internal layout */
    flex-direction: column; /* stack children vertically */
    align-items: center; /* center content horizontally */
    text-align: center; /* center text */
}

.model-result-container h3 {
    margin-bottom: 15px; /* space below the title */
}

.model-result-container p {
    font-size: 1em; /* readable font size */
    margin-bottom: 10px; /* space below the paragraph */
}

.model-result-container, .attribute-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#logsContent {
    padding: 10px; /* Add padding for visual spacing */
    overflow-y: auto; /* Allow scrolling if content is too long */
    max-height: 80vh; /* Limit the height and allow scrolling */
    margin-bottom: 5px; /* Space out log messages */
    /* Additional styles if needed */
}

/* Style the main content area */
#main-content {
    display: flex; /* Use flexbox to lay out children */
    flex-direction: row; /* Arrange children in a row */
}

/* Style the tab container */
#main-content > div:first-child { /* Assuming the first child is the tab container */
    flex: 0 0 70%; /* Flex-grow | Flex-shrink | Basis */
    /* Add any additional styling needed for this container */
}

/* Style adjustments for the combo box and dynamic content */
#newSidebarSelector, #dynamic-content > div:first-child{
    width: 100%; /* Full width of the sidebar container */
    margin-bottom: 10px; /* Space after the selector */
}
/* Style the new sidebar container */
#new-sidebar-container > div:first-child {
    flex: 0 0 30%; /* Flex-grow | Flex-shrink | Basis */
    /* Your existing styles can remain here */
}

.g-signin2 {
    margin: 10px; /* Example styling */
    /* Add more custom styles as needed */
  }
  